<form [formGroup]="registerForm" (submit)="Register()">
    <h2>Register</h2>
    <input id="username" type="text" placeholder="Username" formControlName="Username"/>
    <input id="email" type="email" placeholder="Email" formControlName="Email"/>
    <input id="password" type="password" placeholder="Password" formControlName="Password"/>
    <FormButton [isActive]="false" [type]="'submit'" [text]="'Register'" #registerButton></FormButton>
    <FormButton [isActive]="true" [type]="'button'" [text]="'Return'" [onClick]="Return.bind(this)"></FormButton>
</form>