    <ul id="font-size-menu" (click)="Select($event)">
        <li>6  <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>7  <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>8  <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>9  <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>10 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>11 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>12 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>13 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>14 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>15 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>16 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>17 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>18 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>19 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>20 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>22 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>24 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>26 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>28 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>30 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>32 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>34 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>36 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>38 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>40 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>44 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>48 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>52 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>56 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>60 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
        <li>64 <img src="/assets/OrangeCheckMarkIcon.svg"></li>
    </ul>