main {
    background-color: transparent;
}

section.filter-menu {
    height: clamp(1.5rem, 6.5%, 2rem);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min(15.55%, 4rem);
    align-items: center;
    justify-items: end;

    div#filter {
        width: 100%;
        grid-column: 1;
        border-right: 0.1rem solid #BBBBBB;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img#filter-icon {
            width: 1rem;
            height: 1rem;
            margin-right: min(2%, 0.5rem);
        }

        span#filter-by {
            padding-right: min(2%, 1rem);
            color: #BBBBBB;     
        }
    }

    img#filter-arrow {
        width: 1rem;
        height: 1rem;
        grid-column: 2;
        margin-right: 43%;
    }
}

section.notes {
    min-width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: min(5vw, 2.5rem);

    div#notes-wrapper {
        min-width: 330px;
        display: flex;
        flex-wrap: wrap;
        gap: clamp(18px, 5vw, 2rem);
    }

    button#create-note {
        position: absolute;
        bottom: min(6.66vw, 2rem);
        right:  min(6.66vw, 2rem);
        width:  clamp(2.81rem, 7.74vh, 3.25rem);
        height: clamp(2.81rem, 7.74vh, 3.25rem);
        background-color: var(--ButtonColor);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        box-shadow: var(--WhiteShadow);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            width:  1rem;
            height: 1rem;
        }
    }

    button#create-note:hover {
        background-color: var(--ButtonHighlightColor);
    }
}

section.back-to-top {
    width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button#back-to-top {
        position: relative;
        width:  clamp(1.87rem, 4.8vh, 2.25rem);
        height: clamp(1.87rem, 4.8vh, 2.25rem);
        background-color: var(--ButtonColor);
        bottom: min(3vh, 1.7rem);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        box-shadow: var(--WhiteShadow);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        cursor: pointer;

        img {
            width:  35%;
            height: 25%;
        }
    }

    button#back-to-top:hover {
        background-color: var(--ButtonHighlightColor);
    }
}