div.note-page {
    background-color: white;
    height: max(70.52vh, 31.85rem);
    width: min(49.86vh, 100vw);
    border-bottom: 0.1rem solid rgb(223, 223, 223);
    text-align: start;
    line-break: anywhere;
    overflow: scroll;
    font-size: 16px;

    p {
        margin: 0px;
    }
}