section#side-menu-section {
    background-color: #292929FF;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    height: 100%;
    padding-left: 3.63%;
    padding-right: 3.63%;
    padding-top: 1.65%;
    color: white;

    div.menu-header {
        width: 100%;
        height: min(7.4%, 65px);
        display: grid;
        align-items: center;
        grid-template-columns: 23% auto 9.96%;
        div#user-icon {
            justify-self: center;
            height: 1.9rem;
            width: 1.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;
            img#user-icon {
                height: 100%;
                cursor: pointer;
            }
        }
    }
    div.selected {
        background-color: var(--ButtonHighlightColor) !important;
    }

    div.menu-item:hover {
        background-color: var(--ButtonHighlightColor);
        cursor: pointer;
    }

    div.menu-item {
        border-radius: 0.5rem;
        width: 100%;
        height: min(7%, 60px);
        display: grid;
        align-items: center;
        grid-template-columns: 15.17% auto 9.96%;
        margin-top: 0.1rem;
        img {
            justify-self: right;
            width: 1.36rem;
            height: 1.36rem;
        }

        P {
            white-space: nowrap;
            overflow: hidden;
        }
        p.label {
            font-size: larger;
            margin: 0;
            margin-left: 1rem;
        }

        p.count {
            justify-self: left;
            color: #BBBBBB;
        }
    }

    div#separator {
        color: #BBBBBB;
        overflow: hidden;
        white-space: nowrap;
        font-size: 24px;
        line-height: 23px;
        width: 100%;
    }
}

