<header>
  <section class="header-section">
    <div id="menu-wrapper">
      <ImgButton class="back" [props]="backButtonProps"></ImgButton>
      <input [value]="noteName" placeholder="Title" id="note-name" (blur)="OnBlur()">
    </div>
    <ImgButton class="read-mode" [props]="readModeButtonProps"></ImgButton>
    <ImgButton class="append" [props]="appendButtonProps"></ImgButton>
    <ImgButton class="more-options" [props]="moreOptionsButtonProps"></ImgButton>
  </section>
  <MoreOptionsMenu [noteId]="noteId"></MoreOptionsMenu>
</header>
