section {
    font-size: 1.1rem;
    width: fit-content;
    height: 2rem;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;

    p {
        margin: 0rem;
    }

    ImgButton {
        width: 0.9rem;
        height: 0.9rem;
        margin-left: 0.5rem;
    }

    p#update-success {
        background-color: #00FF002F;
        border: 0.1rem solid #00FF00FF;
        color: #00FF00FF;
        border-radius: 0.5rem;
        margin-left: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    } 

    form {
        width: 100%;
        display: grid;
        grid-template-columns: 15rem 7rem 7rem;

        input {
            grid-column: 1;
            grid-row: 1;
            height: 1.5rem;
            font-size: 1.1rem;
        }

        img {
            grid-column: 1;
            grid-row: 1;
            align-self: center;
            width: 0.9rem;
            height: 0.9rem;
            position: relative;
            left: 90%;
            
        }

        FormButton {
            margin-left: 1rem;
            margin-right: 1rem;

            button {
                width: 5rem;
                height: 1.5rem;
            }
        }
        
    }
}