<ul [class]="isVisible ? 'visible' : 'hidden'" id="{{id}}" [style.top]="top" [style.left]="left" [style.bottom]="bottom" [style.right]="right" 
[style.width]="width" [style.height]="height"
(click)="OnClick($event)" #listElement>
    <li *ngFor="let item of items" [style.height]="itemHeight" (click)="CallItemFunc(item, $event)"
    (mousedown)="ClickStart($event)" (mouseup)="ClickEnd($event)" (touchstart)="ClickStart($event)" (touchend)="ClickEnd($event)" (mouseout)="MouseOut($event)">
        {{item.content}}
        <img *ngIf="selectable" src="/assets/PurpleCheckMarkIcon.svg">
    </li>
</ul>