section {
    width: fit-content;
    max-width: 24rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    
    #margin-format-select {
        height: 2rem;
        padding-left: 0.5rem;
        max-width: 5rem;
        font-size: 1.3rem;
        font-family: Arial;
        color: white;
        background-color: #303030FF;
        border-bottom: 0.1rem solid #3F3F3FFF;
    }

    div#margin-inputs-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        grid-template-rows: 2.5rem 2.5rem 2.5rem;
        align-items: center;
        width: fit-content;
    }
}