section#more-options-menu {
    position: absolute;
    visibility: hidden;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    background-color: white;
    border-radius: 0.5rem;
    width: 10rem;
    height: min(5%, 45px);
    border: 0.1rem solid rgba(213, 213, 213, 0.1);
    box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);

    ul {
        margin: 0rem;
        overflow: hidden;
        height: 100%;
        li {
            height: inherit;
            margin: 0rem;
            display: flex;
            padding-left: 0.5rem;
            align-items: center;
            border-radius: 0.5rem;
        }
        li:hover {
            cursor: pointer;
            background-color: rgb(249, 249, 249);
        }
    }
}