main {
    background-color: transparent;
}

section.pages {
    flex: 1;
    padding-top: max(7.97vh, 3.62rem);
    padding-bottom: max(7.97vh, 3.62rem);
    overflow: scroll;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
}