main {
    background-color: transparent;
}

section.pages {
    padding-top: max(7.97vh, 3.62rem);
    padding-bottom: max(7.97vh, 3.62rem);
    overflow: scroll;
    background-color: var(--BackgroundLightColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}